build
.settings/*
.project
.cproject
.pydevproject
.cache/*
dist
tests/__pycache__
lib/__pycache__
lib/asyncio/__pycache__
docs/_build
docs/_static
docs/_templates
MANIFEST
Debug
bonsai.egg-info
.vs/*
x64/*
bonsai.pyproj
bonsai.sdf
bonsai.sln
_bonsai.vcxproj
_bonsai.vcxproj.*
_bonsai.VC.opendb
_bonsai.VC.db
bonsai.VC.db
vc140.pdb
.vscode/