build
.settings/*
.project
.cproject
.pydevproject
dist
tests/__pycache__
lib/__pycache__
lib/asyncio/__pycache__
docs/_build
docs/_static
docs/_templates
MANIFEST
Debug
bonsai.egg-info
.vs/*
x64/*
bonsai.pyproj
bonsai.sdf
bonsai.sln
bonsai.vcxproj
bonsai.vcxproj.*
bonsai.VC.opendb
