recursive-include src *.c *.h *.py
recursive-include tests *.py
recursive-include docs *.rst *.py *.css Makefile make.bat
include README.rst
include LICENSE
include CHANGELOG.rst
include tests/test.ini
recursive-exclude docs/_build *
