name: Build

on: [push]

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]
    env:
      PYTHON: ${{ matrix.python-version }}
      OS: ubuntu

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install OS dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libldap2-dev libsasl2-dev ldap-utils sasl2-bin
        sudo apt-get install -y krb5-user libsasl2-modules-gssapi-mit libkrb5-dev
        apt list --installed
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install poetry
        poetry config virtualenvs.create false
        poetry install --no-root -E gevent -E tornado
        python -m pip list
    - name: Build Docker image
      run: docker build -t bonsai -f ./.ci/docker/Dockerfile .
    - name: Configure Docker container
      run: |
        mkdir /tmp/bonsai
        sudo chown 2001:2000 /tmp/bonsai
        docker run --cap-add=NET_ADMIN -v /tmp/bonsai/:/home/ldap/run/:z -d -h bonsai.test --name server bonsai
        export BONSAI_DOCKER_IP=`docker inspect --format '{{ .NetworkSettings.IPAddress }}' server`
        sudo bash -c 'echo -e "\n'$BONSAI_DOCKER_IP'        bonsai.test" >> /etc/hosts'
        cat /etc/hosts
        ping -c 2 bonsai.test
        sleep 4
    - name: Check container and LDAP tools
      run: |
        docker exec server ps aux
        ldapwhoami -Y DIGEST-MD5 -h bonsai.test -U admin -w p@ssword
        ldapsearch -h bonsai.test -b "" -s base 'objectclass=*' -x -LLL +
        ldapsearch -VV
        saslpluginviewer
    - name: Install package
      run: |
        printf "\n\n[options]\nzip_safe = False" >> setup.cfg
        export CFLAGS="-coverage"
        python setup.py install
    - name: Run tests
      run: |
        export BONSAI_DOCKER_IP=`docker inspect --format '{{ .NetworkSettings.IPAddress }}' server`
        sed -i.bak "s/127.0.0.1/$BONSAI_DOCKER_IP/g" ./tests/test.ini
        export KRB5_CONFIG="`pwd`/.ci/krb5/krb5.conf"
        export BONSAI_INSTALL_PATH=`python -c "import bonsai; print(bonsai.__file__[:-12])"`
        echo $BONSAI_INSTALL_PATH
        python -m pytest -v --cov-config .coveragerc --cov-report= --cov=$BONSAI_INSTALL_PATH
    - name: Upload coverage
      uses: codecov/codecov-action@v1
      with:
        directory: "."
        env_vars: OS,PYTHON
        fail_ci_if_error: true

  macos:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9]
    env:
      PYTHON: ${{ matrix.python-version }}
      OS: macos

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install poetry
        poetry config virtualenvs.create false
        poetry install --no-root -E gevent -E tornado
        python -m pip install --force-reinstall --no-binary gevent delocate
        python -m pip list
    - name: Install Docker
      run: bash ./.github/workflows/scripts/install_docker_mac.sh
    - name: Wait on Docker
      run: |
        bash ./.github/workflows/scripts/wait_docker_mac.sh
        sudo launchctl unload -w /System/Library/LaunchDaemons/com.apple.Kerberos.kdc.plist
    - name: Downgrade OpenLDAP to 2.4.58
      run: |
        curl https://raw.githubusercontent.com/Homebrew/homebrew-core/e390fb205b653681386ce80a8ab24d2c44b81d13/Formula/openldap.rb -o ./openldap.rb
        brew uninstall --ignore-dependencies php
        brew uninstall --ignore-dependencies curl
        brew uninstall --ignore-dependencies openldap
        brew install ./openldap.rb
    - name: Build Docker image
      run: |
        docker build -t bonsai -f ./.ci/docker/Dockerfile .
    - name: Configure Docker container
      run: |
        mkdir /tmp/bonsai
        sudo chown 2001:2000 /tmp/bonsai
        docker run --cap-add=NET_ADMIN -p 389:389 -p 636:636 -p 88:88 -p 749:749 -p 8000:8000 -d -h bonsai.test --name server bonsai
        sudo bash -c 'echo -e "\n127.0.0.1        bonsai.test" >> /etc/hosts'
        cat /etc/hosts
        ping -c 2 bonsai.test
        sleep 5
    - name: Check container and LDAP tools
      run: |
        docker exec server ps aux
        ldapwhoami -Y DIGEST-MD5 -h bonsai.test -U admin -w p@ssword
        ldapsearch -x -h bonsai.test -b "" -s base 'objectclass=*' -LLL +
        ldapsearch -VV
    - name: Install package
      run: |
        printf "[build_ext]\ninclude_dirs=/usr/local/opt/openldap/include\nlibrary_dirs=/usr/local/opt/openldap/lib" > ./setup.cfg
        printf "\n\n[options]\nzip_safe = False" >> setup.cfg
        export CFLAGS="-coverage"
        python setup.py install
    - name: Check linking
      run: |
        otool -L ./build/*/bonsai/*.so
    - name: Run tests
      run: |
        export KRB5_CONFIG="`pwd`/.ci/krb5/krb5.conf"
        export BONSAI_INSTALL_PATH=`python -c "import bonsai; print(bonsai.__file__[:-12])"`
        echo $BONSAI_INSTALL_PATH
        py.test -v --cov-config .coveragerc --cov-report= --cov=$BONSAI_INSTALL_PATH
    - name: Upload coverage
      uses: codecov/codecov-action@v1
      with:
        directory: "."
        env_vars: OS,PYTHON
        fail_ci_if_error: true
    - name: Create wheel
      run: |
        python setup.py clean
        python setup.py build -f
        python setup.py bdist_wheel
        delocate-wheel -v ./dist/bonsai-*.whl
    - name: Upload wheel
      uses: actions/upload-artifact@v2
      with:
        name: wheel
        path: ./dist/bonsai-*.whl
        retention-days: 5
